In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
import statistics

## Création des fichiers explicites

### A ne pas refaire tourner

On reprend les bases de données auxquelles on ajoute une colonne détaillant les séquences concernées, qu'on extrait du génome explicite.

##### Base de donnée des G4

In [ ]:
list_chr = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,'X','Y']
list = []

file = open('C:/Users/BlueC/Documents/Mines/Santé/Code/annotated_G4plus_categories.bed')
reader = pd.read_csv(file, delimiter='\t')

col = reader.columns.tolist()
col1 = reader.columns.tolist()
col.append('sequence')

file_f = pd.DataFrame(columns = col)
file_f[col1] = reader

for i in list_chr:

    path = f'C:/Users/BlueC/Documents/Mines/Santé/Code/human_genome/chr{i}_G4_explicit'

    with open(path) as file:
        for line in file:
            line1 = line
            line2 = next(file)
            stripped_line = line2.strip()
            list.append(stripped_line)


    print(i)

file_f['sequence'] = list
file_f.to_csv('C:/Users/BlueC/Documents/Mines/Santé/Code/annotated_G4plus_categories_explicit.csv', index=False)

##### Positions random

In [ ]:
list_chr = [1,2,3,4,5,6,7,'X',8,9,10,11,12,13,14,15,16,17,18,20,'Y',19,22,21]
list = []

file_g = open('C:/Users/BlueC/Documents/Mines/Santé/Code/random_G4.csv')
reader = pd.read_csv(file_g, delimiter=',')

reader = reader.drop('Unnamed: 0', axis = 1)

col = reader.columns.tolist()
col1 = reader.columns.tolist()
col.append('sequence')

file_f = pd.DataFrame(columns = col)
file_f[col1] = reader

for i in list_chr:

    path = f'C:/Users/BlueC/Documents/Mines/Santé/Code/human_genome_random/chr{i}_G4_random_explicit'

    with open(path) as file:
        for line in file:
            line1 = line
            line2 = next(file)
            stripped_line = line2.strip()
            list.append(stripped_line)


    print(i)

file_f['sequence'] = list
file_f.to_csv('C:/Users/BlueC/Documents/Mines/Santé/Code/random_G4_explicit.csv', index=False)

In [6]:
file = open('C:/Users/BlueC/Documents/Mines/Santé/Code/annotated_G4plus_categories_explicit.csv')
reader = pd.read_csv(file, delimiter=',')

In [7]:
reader[16:25]

,chr,start,end,type,distClosestG4,CGI,Ori,TSS,sequence
16,chr1,28893,28915,Bulge,134,1,0,0,GGGACCAGGAGCTCCGGGCGGG
17,chr1,29048,29073,Canonical,134,1,0,0,GGGCCGGGCAAGGCCGGGTGCAGGG
18,chr1,32088,32114,GVBQ,1156,0,0,0,GGCCAGCTGGGCTGAGCGGGCCTGGG
19,chr1,33269,33294,Canonical,1076,0,0,0,ggggctaaggggaggggagaatggg
20,chr1,34369,34388,Canonical,634,0,0,0,GGGGAGGGTGGGCAAAGGG
21,chr1,35021,35039,GVBQ,634,0,0,0,GGGAGAGGGGTGGAGGGG
22,chr1,36080,36104,GVBQ,154,0,0,0,GGGAGCTGGGCACAGGGCAGCAGG
23,chr1,36257,36289,Bulge,154,0,0,0,GGGTGGCTCTGAGGGGGCTCTCAGGGGTGGGG
24,chr1,36848,36871,Bulge,560,0,0,0,GGGTGCTGGCGATGGGGTGGGGG

# Création des datasets de mutations - G4

## Création des fichiers textes de comparaison

### A ne pas refaire tourner

On crée des fichiers textes dans lequels sont recensés le numéro du chromosome concerné, ainsi que toutes les positions de début et de fin des G4. Ces fichiers serviront ensuite à extraire les mutations ayant lieu dans lesdites zones, grâce à un code tournant en bash sur serveur.

In [7]:
for i in range (1,23):
    test = reader[(reader['chr'] == f'chr{i}')]
    test = test[['chr','start','end']]
    test = test.sort_values(['start','end'])
    test['chr'] = i
    path = f"c:/Users/BlueC/Documents/Mines/Santé/Code/np_{i}.txt"
    np.savetxt(path, test.values, fmt='%s', delimiter='\t')

In [8]:
for i in (['X','Y']):
    test = reader[(reader['chr'] == f'chr{i}')]
    test = test[['chr','start','end']]
    test = test.sort_values(['start','end'])
    test['chr'] = i
    path = f"c:/Users/BlueC/Documents/Mines/Santé/Code/np_{i}.txt"
    np.savetxt(path, test.values, fmt='%s', delimiter='\t')

## Création de la base recensant toutes les mutations ayant eu lieu sur les G4

On récupère les fichiers générés grâce au code bash précédemment évoqué pour créer une base de données complète, recensant les mutations et les caractéristiques du G4 auquel elles sont associées.

In [2]:
file = open('C:/Users/BlueC/Documents/Mines/Santé/Code/annotated_G4plus_categories.bed')
reader = pd.read_csv(file, delimiter='\t')

In [3]:
i_chrom = '1'

In [5]:
file2 = open(f'C:/Users/BlueC/Documents/Mines/Santé/Code/chr/chr_{i_chrom}_2')
my_col = ['chr', 'pos', 'name', 'orig', 'mut', '%', 'PASS','INFOS', 'AA']
separateurs = "\t|AA="
reader2 = pd.read_csv(file2, sep = separateurs, names = my_col, header = None, engine ='python')
reader2 = reader2.drop_duplicates()
reader2 = reader2.reset_index(drop=True)
reader2

,chr,pos,name,orig,mut,%,PASS,INFOS,AA
0,1,11008,rs575272151,C,G,100,PASS,AC=441;AF=0.0880591;AN=5008;NS=2504;DP=2232;EA...,.|||;VT=SNP
1,1,11012,rs544419019,C,G,100,PASS,AC=441;AF=0.0880591;AN=5008;NS=2504;DP=2090;EA...,.|||;VT=SNP
2,1,11063,rs561109771,T,G,100,PASS,AC=15;AF=0.00299521;AN=5008;NS=2504;DP=2834;EA...,.|||;VT=SNP
3,1,14674,rs561913721,G,A,100,PASS,AC=1;AF=0.000199681;AN=5008;NS=2504;DP=26402;E...,g|||;VT=SNP;EX_TARGET
4,1,16738,rs549612027,G,A,100,PASS,AC=1;AF=0.000199681;AN=5008;NS=2504;DP=16499;E...,g|||;VT=SNP
...,...,...,...,...,...,...,...,...,...
65961,1,249240217,rs570135855;rs556759920,G,"GT,T",100,PASS,"AC=368,183;AF=0.0734824,0.0365415;AN=5008;NS=2...",None
65962,1,249240219,rs370070114,A,T,100,PASS,AC=1454;AF=0.290335;AN=5008;NS=2504;DP=149437;...,.|||;VT=SNP
65963,1,249240537,rs549505823,GGT,G,100,PASS,AC=2272;AF=0.453674;AN=5008;NS=2504;DP=66563;E...,None
65964,1,249240539,rs545682552,T,G,100,PASS,AC=1682;AF=0.335863;AN=5008;NS=2504;DP=56555;E...,.|||;VT=SNP
65965,1,249240543,rs536805817,AGG,A,100,PASS,AC=3098;AF=0.61861;AN=5008;NS=2504;DP=69629;EA...,None

In [ ]:
my_col = ['chr', 'pos', 'name', 'orig', 'mut', '%', 'PASS','INFOS', 'AA', 'start', 'end', 'type', 'distClosestG4', 'CGI', 'Ori', 'TSS']
col_G4 = ['start', 'end', 'type', 'distClosestG4', 'CGI', 'Ori', 'TSS']
table_finale = pd.DataFrame(columns = my_col)
table_finale[['chr', 'pos', 'name', 'orig', 'mut', '%', 'PASS','INFOS', 'AA']] = reader2

G4_table = reader[reader['chr'] == 'chr'+str(i_chrom)]
G4_table = G4_table.reset_index(drop = True)

In [ ]:
table_finale

In [ ]:
G4_table

In [ ]:
n_mut = len(reader2)
n_G4 = len(G4_table)
i_G4 = 0
#start_table = G4_table['start']
end_table = G4_table['end']
pos_table = reader2['pos']

for i_mut in range (n_mut):
    #start = start_table.loc[i_G4]
    end = end_table.loc[i_G4]
    pos = pos_table.loc[i_mut]
    while pos > end :
        i_G4 += 1
        end = end_table.loc[i_G4]
    table_finale.loc[i_mut,col_G4] = G4_table.loc[i_G4]
    if i_mut % 1000 == 0:
        print(i_mut)
print("fini")

In [ ]:
table_finale.to_csv(f'chr_{i_chrom}_final.csv')

### Automatique

In [4]:
file = open('C:/Users/BlueC/Documents/Mines/Santé/Code/annotated_G4plus_categories_explicit.csv')
reader = pd.read_csv(file)
reader

,chr,start,end,type,distClosestG4,CGI,Ori,TSS,sequence
0,chr1,11008,11026,Canonical,33,0,0,0,gggcgggggttggggggg
1,chr1,11058,11078,Canonical,33,0,0,0,gggctggggcggggggaggg
2,chr1,12487,12514,Bulge,1410,0,0,0,GGGTGGTAGGTGCAGAGACGGGAGGGG
3,chr1,14664,14683,Bulge,1267,0,0,0,GGGTCTGGGGGGGAAGGTG
4,chr1,15949,15973,Bulge,687,0,0,0,GGAGCCGGGAGGTGGGGAACAGGG
...,...,...,...,...,...,...,...,...,...
732447,chrY,59362173,59362191,Canonical,370,0,0,0,gggcgggcgggctgaggg
732448,chrY,59362560,59362587,Canonical,9,0,0,0,gggtgagggtgagggttggggttgggg
732449,chrY,59362595,59363470,G-track,9,0,0,0,ggggttggggttggggttggggttggggttagggtttgggtttagg...
732450,chrY,59363480,59363508,Bulge,11,0,0,0,gggtgtgtgtgggtgtggtgtgtgtggg
732451,chrY,59363518,59363547,Canonical,11,0,0,0,gggtgtgggtgtgggtgtgggtgtgtggg

In [6]:
liste = [i for i in range (1,23)] + ['X','Y']
for i_chrom in (liste):
    print("chr",i_chrom)
    file2 = open(f'C:/Users/BlueC/Documents/Mines/Santé/Code/chr/chr_{i_chrom}_2')
    my_col = ['chr', 'pos', 'name', 'orig', 'mut', '%', 'PASS','INFOS', 'AA']
    separateurs = "\t|AA="
    reader2 = pd.read_csv(file2, sep = separateurs, names = my_col, header = None, engine ='python')
    reader2 = reader2.drop_duplicates()
    reader2 = reader2.reset_index(drop=True)
    
    my_col = ['chr', 'pos', 'name', 'orig', 'mut', '%', 'PASS','INFOS', 'AA', 'start', 'end', 'type', 'distClosestG4', 'CGI', 'Ori', 'TSS','sequence']
    col_G4 = ['start', 'end', 'type', 'distClosestG4', 'CGI', 'Ori', 'TSS','sequence']
    table_finale = pd.DataFrame(columns = my_col)
    table_finale[['chr', 'pos', 'name', 'orig', 'mut', '%', 'PASS','INFOS', 'AA']] = reader2

    G4_table = reader[reader['chr'] == 'chr'+str(i_chrom)]
    G4_table = G4_table.reset_index(drop = True)
    
    n_mut = len(reader2)
    n_G4 = len(G4_table)
    i_G4 = 0
    #start_table = G4_table['start']
    end_table = G4_table['end']
    pos_table = reader2['pos']

    for i_mut in range (n_mut):
        #start = start_table.loc[i_G4]
        end = end_table.loc[i_G4]
        pos = pos_table.loc[i_mut]
        while pos > end :
            i_G4 += 1
            end = end_table.loc[i_G4]
        table_finale.loc[i_mut,col_G4] = G4_table.loc[i_G4]
        if i_mut % 10000 == 0:
            print(i_mut)
    print("fini")
    table_finale = table_finale[table_finale['pos']>=table_finale['start']]
    table_finale.to_csv(f'C:/Users/BlueC/Documents/Mines/Santé/Code/chr/chr_{i_chrom}_final.csv', index = False)

chr 1
0
10000
20000
30000
40000
50000
60000
fini
chr 2
0
10000
20000
30000
40000
50000
fini
chr 3
0
10000
20000
30000
40000
fini
chr 4
0
10000
20000
30000
fini
chr 5
0
10000
20000
30000
fini
chr 6
0
10000
20000
30000
fini
chr 7
0
10000
20000
30000
40000
fini
chr 8
0
10000
20000
30000
fini
chr 9
0
10000
20000
30000
fini
chr 10
0
10000
20000
30000
fini
chr 11
0
10000
20000
30000
40000
fini
chr 12
0
10000
20000
30000
fini
chr 13
0
10000
fini
chr 14
0
10000
20000
fini
chr 15
0
10000
20000
fini
chr 16
0
10000
20000
30000
fini
chr 17
0
10000
20000
30000
fini
chr 18
0
10000
fini
chr 19
0
10000
20000
30000
40000
fini
chr 20
0
10000
20000
fini
chr 21
0
10000
fini
chr 22
0
10000
20000
fini
chr X
0
10000
20000
fini
chr Y
0
fini

# Création des datasets de mutations - positions random

## Création des fichiers de comparaison - fichiers sans N

### A ne pas refaire tourner

In [2]:
file = open('C:/Users/BlueC/Documents/Mines/Santé/Code/random_G4_explicit.csv')
reader = pd.read_csv(file, delimiter=',')

In [3]:
reader

,chr,start,end,type,distClosestG4,CGI,Ori,TSS,sequence
0,chr1,2402,2426,Bulge,473,NaN,NaN,NaN,NNNNNNNNNNNNNNNNNNNNNNNN
1,chr1,2899,2933,LongLoop,473,NaN,NaN,NaN,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN
2,chr1,10525,10551,Bulge,918,NaN,NaN,NaN,gccttcagagtaccaccgaaatctgt
3,chr1,11469,11503,Canonical,918,NaN,NaN,NaN,GGGAAACACCCGGAGCATATGCTGTTTGGTCTCA
4,chr1,16111,16130,Bulge,2181,NaN,NaN,NaN,GGGCACTGACTTCTGCAAC
...,...,...,...,...,...,...,...,...,...
720229,chr21,48113314,48113335,GVBQ,4140,NaN,NaN,NaN,gtctttgccccattttatatt
720230,chr21,48117475,48117497,Canonical,2462,NaN,NaN,NaN,atcatcattcactctgcaataa
720231,chr21,48119959,48119981,GVBQ,2462,NaN,NaN,NaN,NNNNNNNNNNNNNNNNNNNNNN
720232,chr21,48123506,48123534,Bulge,2176,NaN,NaN,NaN,NNNNNNNNNNNNNNNNNNNNNNNNNNNN
720233,chr21,48125710,48125740,GVBQ,2176,NaN,NaN,NaN,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNN

On observe des séquences comportant des N, que l'on ne veut pas considérer. On cherche donc à supprimer ces lignes.

In [8]:
contain_values = reader[~reader['sequence'].str.contains('N')]
contain_values = contain_values.reset_index(drop=True)
contain_values.to_csv('C:/Users/BlueC/Documents/Mines/Santé/Code/random_G4_explicit_sansN.csv', index = False)

### A ne pas refaire tourner

In [9]:
file = open('C:/Users/BlueC/Documents/Mines/Santé/Code/random_G4_explicit_sansN.csv')
reader = pd.read_csv(file, delimiter=',')

In [10]:
for i in range (1,23):
    test = reader[(reader['chr'] == f'chr{i}')]
    test = test[['chr','start','end']]
    test = test.sort_values(['start','end'])
    test['chr'] = i
    path = f"c:/Users/BlueC/Documents/Mines/Santé/Code/np_random_{i}_sansN.txt"
    np.savetxt(path, test.values, fmt='%s', delimiter='\t')

In [11]:
for i in (['X','Y']):
    test = reader[(reader['chr'] == f'chr{i}')]
    test = test[['chr','start','end']]
    test = test.sort_values(['start','end'])
    test['chr'] = i
    path = f"c:/Users/BlueC/Documents/Mines/Santé/Code/np_random_{i}_sansN.txt"
    np.savetxt(path, test.values, fmt='%s', delimiter='\t')

## Création de la base recensant toutes les mutations ayant eu lieu sur les positions aléatoires

On récupère les fichiers générés grâce au code bash précédemment évoqué pour créer une base de données complète, recensant les mutations et les caractéristiques des positions auxquelles elles sont associées.

In [ ]:
file = open('C:/Users/BlueC/Documents/Mines/Santé/Code/random_G4_explicit.csv')
reader = pd.read_csv(file, delimiter=',')

In [ ]:
i_chrom = '6'

In [ ]:
file2 = open(f'C:/Users/BlueC/Documents/Mines/Santé/Code/chr_random/chr_random_{i_chrom}_sansN')
my_col = ['chr', 'pos', 'name', 'orig', 'mut', '%', 'PASS','INFOS', 'AA']
separateurs = "\t|AA="
reader2 = pd.read_csv(file2, sep = separateurs, names = my_col, header = None, engine ='python')
reader2 = reader2.drop_duplicates()
reader2 = reader2.reset_index(drop=True)

In [ ]:
my_col = ['chr', 'pos', 'name', 'orig', 'mut', '%', 'PASS','INFOS', 'AA', 'start', 'end', 'type', 'distClosestG4', 'CGI', 'Ori', 'TSS', 'sequence']
col_G4 = ['start', 'end', 'type', 'distClosestG4', 'CGI', 'Ori', 'TSS', 'sequence']
table_finale = pd.DataFrame(columns = my_col)
table_finale[['chr', 'pos', 'name', 'orig', 'mut', '%', 'PASS','INFOS', 'AA']] = reader2

G4_table = reader[reader['chr'] == 'chr'+str(i_chrom)]
G4_table = G4_table.reset_index(drop = True)

In [ ]:
table_finale

In [ ]:
G4_table

In [ ]:
n_mut = len(reader2)
n_G4 = len(G4_table)
i_G4 = 0
#start_table = G4_table['start']
end_table = G4_table['end']
pos_table = reader2['pos']

for i_mut in range (n_mut):
    #start = start_table.loc[i_G4]
    end = end_table.loc[i_G4]
    pos = pos_table.loc[i_mut]
    while pos > end :
        i_G4 += 1
        end = end_table.loc[i_G4]
    table_finale.loc[i_mut,col_G4] = G4_table.loc[i_G4]
    if i_mut % 1000 == 0:
        print(i_mut)
print("fini")
table_finale = table_finale[table_finale['pos']>=table_finale['start']]

In [ ]:
table_finale = table_finale[table_finale['pos']>=table_finale['start']]

In [ ]:
table_finale[table_finale['sequence'].str.contains('N')]

In [ ]:
table_finale.to_csv(f'chr_random_{i_chrom}_final_sansN.csv', index=False)

### Automatique

In [ ]:
liste = [i for i in range (17,23)] + ['X','Y']
for i_chrom in (liste):
    print("chr",i_chrom)
    file2 = open(f'C:/Users/BlueC/Documents/Mines/Santé/Code/chr_random/chr_random_{i_chrom}_sansN')
    my_col = ['chr', 'pos', 'name', 'orig', 'mut', '%', 'PASS','INFOS', 'AA']
    separateurs = "\t|AA="
    reader2 = pd.read_csv(file2, sep = separateurs, names = my_col, header = None, engine ='python')
    reader2 = reader2.drop_duplicates()
    reader2 = reader2.reset_index(drop=True)
    
    my_col = ['chr', 'pos', 'name', 'orig', 'mut', '%', 'PASS','INFOS', 'AA', 'start', 'end', 'type', 'distClosestG4', 'CGI', 'Ori', 'TSS', 'sequence']
    col_G4 = ['start', 'end', 'type', 'distClosestG4', 'CGI', 'Ori', 'TSS', 'sequence']
    table_finale = pd.DataFrame(columns = my_col)
    table_finale[['chr', 'pos', 'name', 'orig', 'mut', '%', 'PASS','INFOS', 'AA']] = reader2

    G4_table = reader[reader['chr'] == 'chr'+str(i_chrom)]
    G4_table = G4_table.reset_index(drop = True)
    
    n_mut = len(reader2)
    n_G4 = len(G4_table)
    i_G4 = 0
    #start_table = G4_table['start']
    end_table = G4_table['end']
    pos_table = reader2['pos']

    for i_mut in range (n_mut):
        #start = start_table.loc[i_G4]
        end = end_table.loc[i_G4]
        pos = pos_table.loc[i_mut]
        while pos > end :
            i_G4 += 1
            end = end_table.loc[i_G4]
        table_finale.loc[i_mut,col_G4] = G4_table.loc[i_G4]
        if i_mut % 10000 == 0:
            print(i_mut)
    print("fini")
    
    table_finale = table_finale[table_finale['pos']>=table_finale['start']]
    table_finale.to_csv(f'chr_random_{i_chrom}_final_sansN.csv', index=False)

# Vérification des fichiers

In [6]:
file = open('C:/Users/BlueC/Documents/Mines/Santé/Code/random_G4_explicit.csv')
reader = pd.read_csv(file, delimiter=',')

In [7]:
reader_chr2 = reader[reader['chr'] == 'chr2']

In [8]:
reader_chr2[reader_chr2['sequence'].str.contains('N')]

,chr,start,end,type,distClosestG4,CGI,Ori,TSS,sequence
64261,chr2,3882,3905,Canonical,205,NaN,NaN,NaN,NNNNNNNNNNNNNNNNNNNNNNN
64262,chr2,4110,4132,Canonical,205,NaN,NaN,NaN,NNNNNNNNNNNNNNNNNNNNNN
64263,chr2,6065,6087,Bulge,1268,NaN,NaN,NaN,NNNNNNNNNNNNNNNNNNNNNN
64264,chr2,7355,7378,GVBQ,308,NaN,NaN,NaN,NNNNNNNNNNNNNNNNNNNNNNN
64265,chr2,7686,7710,GVBQ,308,NaN,NaN,NaN,NNNNNNNNNNNNNNNNNNNNNNNN
...,...,...,...,...,...,...,...,...,...
116891,chr2,243132031,243132047,Bulge,330,NaN,NaN,NaN,NNNNNNNNNNNNNNNN
116892,chr2,243132493,243132517,Bulge,446,NaN,NaN,NaN,NNNNNNNNNNNNNNNNNNNNNNNN
116893,chr2,243133964,243133991,GVBQ,1447,NaN,NaN,NaN,NNNNNNNNNNNNNNNNNNNNNNNNNNN
116894,chr2,243148070,243148095,Bulge,2027,NaN,NaN,NaN,NNNNNNNNNNNNNNNNNNNNNNNNN
116895,chr2,243150122,243150142,Canonical,2027,NaN,NaN,NaN,NNNNNNNNNNNNNNNNNNNN

In [9]:
file2 = open('C:/Users/BlueC/Documents/Mines/Santé/Code/random_G4_explicit_sansN.csv')
reader2 = pd.read_csv(file2, delimiter=',')

In [10]:
reader2_chr2 = reader2[reader2['chr'] == 'chr2']
reader2_chr2

,chr,start,end,type,distClosestG4,CGI,Ori,TSS,sequence
57985,chr2,15937,15965,Canonical,7007,NaN,NaN,NaN,TCTGGCTCTATTTTGGGTGACATGCTCC
57986,chr2,39121,39146,Bulge,2013,NaN,NaN,NaN,AGCCGTCACTATTGCCCATTCTTGT
57987,chr2,41159,41188,GVBQ,2013,NaN,NaN,NaN,TGATTACTTTGATTTAAATGATGTTAATC
57988,chr2,50770,50791,GVBQ,247,NaN,NaN,NaN,tcccaggaatgtattctaagg
57989,chr2,51038,51061,Bulge,247,NaN,NaN,NaN,gggggctcctgatatctttttgg
...,...,...,...,...,...,...,...,...,...
109539,chr2,243177646,243177662,GVBQ,65,NaN,NaN,NaN,ggttgtctattggctt
109540,chr2,243179828,243179850,Bulge,524,NaN,NaN,NaN,AAGAAGAGAGCATGGTTACATT
109541,chr2,243180374,243180401,Bulge,410,NaN,NaN,NaN,AAAGAATCAACCTGGGAGCCAAGCCCA
109542,chr2,243180811,243180834,Bulge,410,NaN,NaN,NaN,TATGATTCCCTTGCTGCCTGGAA
109543,chr2,243187703,243187728,GVBQ,6869,NaN,NaN,NaN,acccaggaggtggaggttgcaggga

In [11]:
reader2_chr2[reader2_chr2['sequence'].str.contains('N')]

Empty DataFrame
Columns: [chr, start, end, type, distClosestG4, CGI, Ori, TSS, sequence]
Index: []

Il n'y a plus de N dans la base